{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('restaurant/info') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tooltip') }}
{% endblock %}

{% block body %}
    <div class="restaurant-wrapper container">
        <h2>{{ restaurant.name }}</h2>
        <div class="col-8 my-3">
            <div class="d-flex align-items-center mb-3">
                <h3>Locales</h3>
                <a class="btn btn-primary btn-sm"
                   href="{{ path('app_premises_add', {'restaurant': restaurant.id}) }}">
                    <i class="bi bi-plus-lg"></i> Add new local
                </a>
            </div>
            <div class="addresses-wrapper col-12" {{ stimulus_controller('pagination', {'perPage': 3}) }}>
                {% for premises in restaurant.premises %}
                    <div class="address-wrapper" {{ stimulus_target('pagination', 'element') }}>
                        <h5 data-toggle="tooltip" data-placement="top"
                            title="{{ premises.name }}">{{ premises.name }}</h5>
                        <p class="m-0 fw-bold">Address:</p>
                        {% set address = premises.address %}
                        <p class="mx-3 my-1">{{ address.street }} {{ address.streetNumber }}{{ '/'~address.flatNumber }}</p>
                        <p class="mx-3 my-1">
                            {{ address.postalCode | slice(0,2) }}-{{ address.postalCode | slice(2, 3) }} {{ address.city.name }}
                        </p>
                        {% if is_granted('RESTAURANT_ADMIN', restaurant) %}
                            <a href="{{ path('app_premises_edit', {'restaurant': restaurant.id, 'id': premises.id}) }}"
                               class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="bi bi-pen"></i>
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <p>No premises assigned to restaurant</p>
                {% endfor %}
                {% include 'helpers/paginationButtons.html.twig' %}
            </div>
        </div>
        <div class="employees col-8 my-3">
            <h3>Employees</h3>
            <ul>
                {% for employee in restaurant.employees %}
                    <li>
                        {{ employee.employee.fullName }} ({{ employee.employee.email }})
                        {% set mainRole = constant('App\\Entity\\RestaurantRole::ADMIN') in employee.roles ? 'Admin' : 'Employee' %}
                        <i class="mx-3 bi bi-person-workspace"
                           data-toggle="tooltip" data-placement="top" title="{{ mainRole }}"></i>
                        {% if constant('App\\Entity\\RestaurantRole::ADMIN') not in employee.roles %}
                            <a href="{{ path('app_restaurant_employee_remove', {'restaurant': employee.restaurant.id, 'employee': employee.employee.id}) }}">
                                <i class="bi bi-x-square" data-toggle="tooltip" data-placement="top" title="remove"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('app_restaurant_employee_edit', {'restaurant': employee.restaurant.id, 'employee': employee.employee.id}) }}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
