{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home_page') }}
{% endblock %}

{% block body %}
    <div class="search-container">
        <div class="search-form">
            <h2 class="text-center">Welcome in restaurant project</h2>
            <div class="col-10 d-flex justify-content-center" {{ stimulus_controller('search-restaurant', {'url': path('app_restaurant_list')}) }}>
                <input placeholder="Find your restaurant to make an order" type="text"
                        {{ stimulus_target('search-restaurant', 'name') }}
                        {{ stimulus_action('search-restaurant', 'search', 'keydown.enter') }}/>
                <button class="btn btn-primary" {{ stimulus_action('search-restaurant', 'search', 'click') }}>
                    Search
                </button>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ asset('build/images/burger.png') }}" alt="burger">
            <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0 0, 0 100, 100 0, 100 0"></polygon>
            </svg>
        </div>
    </div>
    <div class="description text-center p-5">
        <h2>Are you hungry</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cum cumque deleniti deserunt doloremque enim
            error eveniet facere inventore iste, labore molestiae molestias natus nihil non repellat sunt veritatis
            voluptas.</p>
    </div>
    <div class="flow-introduction text-center p-5">
        <img src="{{ asset('build/images/phone.png') }}" alt="app">
        <h2>Order steps</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet consectetur consequatur ea
            error ex ipsum
            nostrum odio sapiente vero. Corporis doloremque facere id illo, in magni maxime nulla soluta!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet consectetur consequatur ea
            error ex ipsum
            nostrum odio sapiente vero. Corporis doloremque facere id illo, in magni maxime nulla soluta!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet consectetur consequatur ea
            error ex ipsum
            nostrum odio sapiente vero. Corporis doloremque facere id illo, in magni maxime nulla soluta!</p>
    </div>
    <div class="clients-review text-center">
        <h2 class="col-12">Our happy clients</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam autem dicta dolore earum ex fugiat,
            fugit labore nostrum obcaecati quia vel veritatis voluptate? Eligendi nihil numquam reprehenderit sed
            sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam autem dicta dolore earum ex fugiat,
            fugit labore nostrum obcaecati quia vel veritatis voluptate? Eligendi nihil numquam reprehenderit sed
            sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam autem dicta dolore earum ex fugiat,
            fugit labore nostrum obcaecati quia vel veritatis voluptate? Eligendi nihil numquam reprehenderit sed
            sequi.</p>
    </div>
{% endblock %}
